/*sourcecdodepro_google*/
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700);
::-webkit-scrollbar {display: none; } /* 1 */ ::-webkit-scrollbar-button {display: none; } /* 2 */ ::-webkit-scrollbar-track {display: none; } /* 3 */ ::-webkit-scrollbar-track-piece {display: none; } /* 4 */ ::-webkit-scrollbar-thumb {display: none; } /* 5 */ ::-webkit-scrollbar-corner {display: none; } /* 6 */ ::-webkit-resizer {display: none; } 
/*====================#
#   general settings
======================*/
* {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -webkit-user-drag: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #262626
}

body {
  width: 100%;
  height: 100%;
  font-family: "proxima-nova", sans_serif;
  font-weight: 400;
  /*regular*/
}

#wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a:link,
a:active,
a:visited,
a:hover {
  text-decoration: none;
}

.clear {
  clear: both;
}


/* SKELETON */

